.ql-toolbar {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.ql-container {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.ql-editor {
  height: 300px;
}

/* NoteBackground */
.stripe-background {
  background-image: linear-gradient(white 50%, rgba(251, 244, 177, 0.463) 50%);
  background-size: 100% 3rem;
  background-position:0 1.5rem;
}

